[submodule "thirdparty/srt"]
	path = thirdparty/srt
	url = https://github.com/Haivision/srt.git
[submodule "thirdparty/picohttpparser"]
	path = thirdparty/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
