[submodule "thirdparty/srt"]
	path = thirdparty/srt
	url = https://github.com/Haivision/srt.git
[submodule "thirdparty/libdatachannel"]
	path = thirdparty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
