html {
    font-family: sans-serif;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #060606;
    }
}

body {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 20cm;
    margin: auto;
    height: 100%;
}

div#content {
    flex-grow: 1;
}

h1, h2 {
    color: dodgerblue;
}

h1::before {
    --outline: rgba(255, 255, 255, 0.2);
    content: "🎥 ";
    text-shadow: 1px -1px 0 var(--outline),
                 -1px 1px 0 var(--outline),
                 -1px 1px 0 var(--outline),
                 1px -1px 0 var(--outline),
                 1px 1px 0 var(--outline),
                 -1px -1px 0 var(--outline);
}

video#stream-player {
    width: 100%;
    background-color: black;
    border: 1px solid gray;
}

form#stream-setup {
    width: 100%;
    margin-top: 5px;
}

form#stream-setup > fieldset {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0;
    border: none;
}

form#stream-setup input#stream-name {
    flex-grow: 1;
    min-width: 0;
}

form#stream-setup input#buffer-size {
    flex-grow: 1;
}

form#stream-setup output {
    width: 6ch;
    text-align: center;
}

span.info {
    display: inline-block;
    font-size: 13pt;
    width: 20px;
    height: 20px;
    color: #555;
    font-weight: normal;
    border: 1px solid gray;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    cursor: help;
}

@media (prefers-color-scheme: dark) {
    form#stream-setup label, form#stream-setup output, form#stream-setup span.info {
        color: lightgray;
    }
}

form#stream-setup * {
    font-size: 13pt;
}

p.instructions {
    width: 100%;
    text-align: center;
    color: gray;
}

div#stream-list-container {
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100%;
    margin-left: 20px;

    min-width: 200px;
    max-width: calc((100% - 20cm - 80px) / 2);

    /* Put scrollbar on left side */
    direction: rtl;
    overflow-y: auto;
}

@media only screen and (max-width: calc(20cm + 240px * 2)) {
    div#stream-list-container {
        padding: unset;
        position: unset;
        width: 100%;
        margin-left: 0;

        max-height: unset;
        min-width: unset;
        max-width: unset;

        direction: ltr;
        border-top: 1px solid lightgray;
    }
}

div#stream-list-container > h2 {
    font-size: 16pt;
    margin-bottom: 5px;
}

ul#stream-list {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    direction: ltr;
}

ul#stream-list > li {
    padding: 5px 0;
}

ul#stream-list * {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 11pt;
}

footer {
    text-align: center;
    font-size: 10pt;
    color: gray;
    padding: 10px;
}

a {
    color: dodgerblue;
}
