h1#title::before {
    --outline: White;
    content: "🎥 ";
    text-shadow: 1px -1px 0 var(--outline),
                 -1px 1px 0 var(--outline),
                 -1px 1px 0 var(--outline),
                 1px -1px 0 var(--outline),
                 1px 1px 0 var(--outline),
                 -1px -1px 0 var(--outline);
}
